side-effects-cache=false
ignore-scripts=false
# node-linker must be set to hoisted for building the native app
# node-linked must NOT be set when building extension
# however, DO NOT commit if node-linker is NOT set to hoisted; otherwise the native app build will fail in CI.
node-linker=hoisted
# public-hoist-pattern=*
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3BCDD65F-371E-4065-8789-DC6CADEFDA2B
package-manager-strict=false