.topic-ident {
  display: flex;
  flex-direction: row;
  & > * {
    padding: 0px 5px;
  }
  .name {
    font-size: 14px;
    font-weight: 500;
  }
}

.suggestion {
  color: #ccc;
  font-style: italic;
}

.topic-lozenge {
  .close-icon {
    height: 12px;
    width: 12px;
    margin-left: 6px;
  }
}
